.screen > .screen-content > .screen-user > .name {
  font-family: "Source Code Pro", monospace;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 4.25rem;
  font-weight: 400;
  position: relative;
}

.screen > .screen-content > .screen-user > .name:before,
.screen > .screen-content > .screen-user > .name:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  border: 2px solid white;
  border-radius: 2px;
}

.screen > .screen-content > .screen-user > .name:before {
  top: 55%;
  right: -1.5rem;
}

.screen > .screen-content > .screen-user > .name:after {
  top: 45%;
  left: -1.5rem;
}
